# package-manager 필드가 package.json에 자동으로 추가되는 것을 방지
save-workspace-protocol=false
# package.json 파일에 저장된 버전 범위(^ 또는 ~)를 명시하지 않고 해당 버전을 표기함(기본값: ^)
save-prefix=''
# pnpm이 설치할 때 peerDependencies를 설치하지 않도록 설정(기본값: false)
auto-install-peers=false
# lockfile이 engines 필드를 준수하도록 설정(기본값: false)
engine-strict=true
# pnpm-lock.yaml 파일을 생성하지 않도록 설정하려면 true로 설정(기본값: false)
# package-lock = false
# pre/post 스크립트 활성화 - postinstall이 동작하도록 함
enable-pre-post-scripts=true
# hasInstallScript가 true로 설정되면 pnpm이 설치 후에 package.json에 있는 postinstall 스크립트를 실행
has-install-script=true
# side-effects-cache를 false로 설정하면 node_modules/.pnpm/node_modules/.cache에 캐시를 저장하지 않음
# side-effects-cache는 패키지의 sideEffects 필드를 사용하여 캐시를 생성하고, 캐시를 사용하여 빌드 속도를 높임
# side-effects-cache를 false로 설정하면 캐시를 사용하지 않으므로 빌드 속도가 느려질 수 있음
# side-effects-cache=false
